.bestseller li.title {color:#889583; font:bold 12px/16px Arial,Helvetica,sans-serif; border-bottom:1px solid #C4C6C8; padding:3px 10px; background:url(../images/bkg_block-title.html) repeat-x scroll 0 0 transparent;}

.bestseller li.item {
    background: url(../images/pro_sep.gif) no-repeat scroll right center transparent;
    float: left;
    padding: 20px 26px 15px;
    width: 334px;
}

.bestseller li a.product-image { display:block; float:left;}

.bestseller li  .actions{
    float: left;
    width: 334px;
}

.bestseller li  .product-name a {
    color: #3D3D3D;
    font-size: 24px;
    padding-left: 5px;
    text-decoration: none;
}

.bestseller li .price-box {
    float: right;
    margin: 5px 12px 5px 0;
}
.bestseller li button.button {
    float: right;
	margin-top:10px;
}
.bestseller li.last{background:none;}
.bestseller li .availability.out-of-stock span {}
.bestseller li .product-name {
    font-size: 12px;
    margin: 0 0 6px;
}

